/* Estilos da página index.html */
.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#menu li {
  display: inline;
  padding: 15px;
}

#menu li a {
  text-decoration: none;
}

#menu li a:hover {
  color: rgb(111, 86, 255);
  font-size: 20px;
}

.p-30 {
  padding: 30px;
}

.p-15 {
  padding: 15px;
}

.br-1 {
  border-radius: 50%;
}

.wh {
  width: 250px;
  height: 250px;
}

.tm-social {
  width: 50px;
  height: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    url(../img/alliancex3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-position: center;
  background-attachment: fixed;
}

/* Estilo guildraid - paginas dentro desta */
.m-30 {
  margin: 30px;
}
.wh-dragon {
  width: 393px;
  height: 398px;
}
.wh-tela {
  width: 600px;
  height: 350px;
}

.cont-char {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
